
<div id="content">
  <div id="container">
    <div class="header">
      <div id="icon_cell">
        <h1>Success!  You can now connect to the SSID {{ssid}} for full access.  
      </div>



  <div class="footer">
    <h3>POWERED BY</h3>
    <img class="text-center" src="/img/cisco-meraki-gray.png" style="width:10%; margin:10px;">
  </div>
</div>
