
<div id="content">
  <div id="container">
    <div class="header">
    </div>

    <div id="continue">
      <h1>DevNet Create Cafe</h1>
      <p>Please provide your email to enjoy our complimentary WiFi.</p>
 
      <form action="/login" method="post" class="form col-md-12 center-block">
        <div class="form-group">
          <input class="form-control input-lg" placeholder="Email" type="text" name="form1[email]" required>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block">Sign In</button>
        </div>
      </form>

      
    </div>
  </div>
  <div class="footer">
    <p>Your IP: {{client_ip}}</p>
    <p>Your MAC: {{client_mac}}</p>
    <p>AP MAC: {{node_mac}}</p>
    <h3>POWERED BY</h3>
    <img class="text-center" src="/img/cisco-meraki-gray.png" style="width:10%; margin:10px;">
  </div>
</div>
